[Unit]
Description=pfSense QEMU network stack
Requires=pfVEdge-bridges.service
Requires=pfVEdge.service
After=pfVEdge-bridges.service
After=pfVEdge.service
After=network.target
AllowIsolate=yes

[Install]
WantedBy=network-online.target