[Unit]
Description=pfVEdge container with pfSense VM
Requires=pfVEdge-bridges.service
After=pfVEdge-bridges.service
Before=pfVEdge.target
PartOf=pfVEdge.target
# In case of failure, give 10 try in 6 minutes
# before declare failure
StartLimitIntervalSec=360
StartLimitBurst=10

OnFailure=pfVEdge-recovery.service
OnFailureJobMode=replace-irreversibly

[Container]
Image=localhost/pfvedge:current
ContainerName=pfVEdge

EnvironmentFile=__PROJECT_DIR__/config/bridges.env

# VM resources (overridable)
Environment=DISK_SIZE="10G"
Environment=RAM_SIZE="4G"
Environment=CPU_CORES="1"

# By default, pfVEdge will download pfSense img but you can override this 
# Environment=PF_BOOT=opnsense

# Never change this
Environment=NETWORK=N

# give 60 seconds for pfVEdge vm to gracefully stop
Environment=TIMEOUT=60

# Watchdog defaults value
Environment=WDG_CHECK_INTERVAL=30
Environment=WDG_START_DELAY=120
Environment=WDG_MAX_FAIL=3
Environment=WDG_SHUTDOWN_TIMEOUT=60

# You can use this as alternative in case of problem
# Environment=QEMU_NET_MODEL=e1000
Environment=QEMU_NET_MODEL=virtio-net-pci

# In case of more than 1 vCPU, you can use multiqueue for network (virtio-net-pci only) 
Environment=QEMU_VIRTIO_NET_MQ=true

# Uncomment if you cannot use KVM
# Environment=KVM=N

# Without qemu has no network and no internet for download BOOT_IMG
# and need to be host because tap/bridge need same namespace in host and qemu
Network=host
DNS=8.8.8.8

AddCapability=NET_ADMIN
AddDevice=/dev/vhost-net
AddDevice=/dev/net/tun
# Comment if you cannot use KVM
AddDevice=/dev/kvm

Volume=/run/pfVEdge/network.env:/tmp/qemu-tap-pfSense.env:ro
Volume=__PROJECT_DIR__/storage:/storage

# Container healthcheck
HealthCmd=/healthcheck/healthcheck.sh
HealthInterval=60s
HealthRetries=5
HealthTimeout=10s

[Service]
# Restart only on failure and wait 30sec between each
Restart=on-failure
RestartSec=30
# give 120 seconds for container to gracefully stop
TimeoutStopSec=120
RestartPreventExitStatus=10 20 30 40 50 60 70
# Start only if network is ready
ExecStartPre=/usr/bin/test -f /run/pfVEdge/network.ready

[Install]
WantedBy=pfVEdge.target
