{
  "firewall": "pfsense",
  "backup_dir": "/var/lib/pfVEdge",
  "log_level": "INFO",

  "network": {
    "initialize": false,

    "network_manager": {
      "auto_migrate_interface": false,
      "force_factory_backup": false
    },

    "firewalld": {
      "allow_ssh_host": false
    },

    "bridges": {
      "br-wan": {
        "iface": "eth0",
        "iface_type": "eth",
        "ipv4": "192.168.1.254/24",
        "gateway": "192.168.1.1",
        "dns": "192.168.1.1",
        "role": "wan"
      },

      "br-trunk": {
        "iface": "eth1",
        "iface_type": "eth",
        "ipv4": "10.10.1.1/24",
        "gateway": "10.10.1.2",
        "dns": "10.10.1.2",
        "role": "lan"
      },

      "br-pod-lan": {
        "iface": "pod-lan",
        "iface_type": "podman",
        "ipv4": "10.250.250.1/24",
        "role": "lan"
      },

      "br-pod-dmz": {
        "iface": "pod-dmz",
        "iface_type": "podman",
        "ipv4": "10.254.254.1/24",
        "role": "dmz"
      }
    },

    "gateway_offset": 1,
    "tap_prefix": "tap"
  }
}